# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
media/

# SQLite
*.sqlite3

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Testing
.coverage
.pytest_cache/

# Environment variables
.env

# Migrations (optional)
*/migrations/*
!*/migrations/__init__.py